<% answers = @question.answers %>

<div class="page-header">
<h1><%= @question.title %></h1>
</div>

<div id="question">
  <%= markdown(@question.description) %>
  <%= link_to t('edit'), edit_question_path, class: 'text-muted' %>
</div>

<div id="answers">
<% if answers.exists? %>
    <h4> <%= t('page.question.answers_count', :count => answers.count) %> </h4>
    <hr>
    <% answers.each do |answer| %>
      <div id="answer">
        <%= markdown(answer.description) %>
        <hr>
      </div>
    <% end %>
<% else %>
  <%= t('page.question.suggestion_html', :link => question_short_url(@question)) %>
  <hr>
<% end %>
</div>

<%= render 'answers/form' %>
