<!DOCTYPE html>
<html>
<head>
  <title><%= t('site.title') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div id="wrapper">
  <nav id="topbar" class="navbar navbar-default navbar-static-top">
    <ul class="nav navbar-nav">
      <% if logged_in? %>
        <li><%= current_user.username %></li>
        <li><%= link_to t('logout'), logout_path %></li>
      <% else %>
        <li><%= link_to t('signup'), signup_path %></li>
        <li><%= link_to t('login'), login_path %></li>
      <% end %>
    </ul>
  </nav>

  <div class="container">
    <div id="header">
      <%= link_to root_path do %>
        <%= image_tag 'header.png', style: 'vertical-align: text-bottom;' %>
      <% end %>
        <span class="nav-item"><%= link_to t('header.questions'), questions_path %></span>
        <span class="nav-item"><%= link_to t('header.ask_question'), new_question_path %></span>
    </div>
    <% if flash[:login] %>
      <div class="text-center val-msg">
        <%= t('page.user.login.required_html', link: signup_path) %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>
