<!DOCTYPE html>
<html>
<head>
  <title>Stack Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav id="header" class="navbar navbar-default navbar-static-top">
		<a class="navbar-brand" href="#">
			<img alt="Stack Overflow Brand" src="...">
		</a>
    <ul class="nav navbar-nav">
			<% if logged_in? %>
			  Logged in as <%= current_user.email %>.
			  <li><%= link_to "Log out", logout_path %></li>
			<% else %>
			  <li><%= link_to "Sign up", signup_path %></li>
			  <li><%= link_to "log in", login_path %></li>
			<% end %>
    </ul>
	</nav>
	<div id="header" class="container">
		<h1>stackoverflow</h1>
	</div>
	<div class="container">
		<%= yield %>
	</div>
	
	<nav id="footer" class="navbar navbar-default">
		<div class="container">
			<p>Just some text in here about copyright</p>
		</div>
	</nav>

</body>
</html>
